#root {
  
  width:700px;
  background-color: yellow;
  
}
.button {
  
  flex-basis: 25%;
  text-align:center;
  border: 2px dashed black;
}
.display {
  
  background-color: gray;
  height:100px;
  color: white;
  font-weight: bold;
  text-align:right;
}

.panel1 > * {
  
  height:100px;
  display:flex;
  flex-direction: columns;
}

.group-1  {
  
  display: flex;
  background-color:blue;
  flex-direction: row;

 
  
}